
@{
    ViewData["Title"] = "Jogadores";
}

<section class="cadastro_jogador">
    <div class="castelo">
        <div class="conteudo_cadastro_jogador" style="height: 81%;">
            <div class="titulo_cadastro_jogador">
                <h1>Login de Jogador</h1>
                <img src="~/_assets/decoracao_cadastro.svg" alt="Decoração cadastro do jogador">
            </div>

            <form method="POST" action='@Url.Action("Logar")'>
                <span class="erro">@TempData.Peek("Mensagem")</span>

                <input class="input_login_usuario" name="Email" type="e-mail" placeholder="E-mail" required>
                <input class="input_login_usuario" name="Senha" type="password" placeholder="Senha" required>
                <button class="btn_cadastrar_usuario" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</section>
