@{
    ViewData["Title"] = "Home Page";
}



<section class="banner_principal">
    <div class="container_banner">
        <img class="imagem_banner" src="~/_assets/imagem_banner.png" alt="Banner FIFA">

        <div class="textos_banner_principal">
            <h1>LIGA E-Players</h1>
            <span>O maior portal de campeonatos online</span>
            <a asp-area="" asp-controller="Equipe" asp-action="Index">inscreva-se</a>
        </div>
    </div>
</section>

<section id="jogos" class="jogos">
    <div class="container_logos logos">
        <img class="f1rs" src="~/_assets/formula-1-logo.png" alt="Logo Formula 01">
        <img class="lol" src="~/_assets/logo-lol.png" alt="Logo LOL">
        <img class="cs" src="~/_assets/Counter-Strike-Logo.png" alt="Logo Cs">
        <img class="vava" src="~/_assets/valorant-logo.png" alt="Logo Valorant">
        <img class="fifa" src="~/_assets/FIFA_logo.png" alt="Logo fifa">
    </div>
</section>

<section id="banner2" class="banner2">
    <div class="retangulo">
        <div class="container_banner2">
            <div class="textos_banner2">
                <h1>Como participar das ligas?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Nunc sed id semper risus in. Egestas dui id ornare arcu. Ut sem nulla
                    pharetra diam sit. Quam pellentesque nec nam aliquam sem. Cras ornare arcu dui vivamus arcu felis.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Nunc sed id semper risus in. Egestas dui id ornare arcu. Ut sem nulla
                    pharetra diam sit. Quam pellentesque nec nam aliquam sem. Cras ornare arcu dui vivamus arcu felis.
                </p>
            </div>

            <div class="imagem_banner2">
                <img class="personagem" src="~/_assets/img_banner2.png" alt="Personagem">
            </div>
        </div>
    </div>
</section>

<section id="proximos_jogos" class="proximos_jogos">
    <div class="container_proximos_jogos">
        <h2 class="aovivo">ao vivo</h2>
        <p class="sk">SK</p>
        <img class="logo_times_jogos" src="~/_assets/sk-logo.png" alt="Logo SK">
        <p class="vs">vs</p>
        <img class="logo_times_jogos" src="~/_assets/fla-logo.png" alt="Escudo do Flamengo">
        <p class="sk">SK</p>

        <h2 class="embreve">em breve</h2>
        <p class="sk">SK</p>
        <img class="logo_times_jogos" src="~/_assets/sk-logo.png" alt="Logo SK">
        <p class="vs">vs</p>
        <img class="logo_times_jogos" src="~/_assets/fla-logo.png" alt="Escudo do Flamengo">
        <p class="sk">MiBr</p>

        <p class="sk margin_proximos_jogos">SK</p>
        <img class="logo_times_jogos" src="~/_assets/sk-logo.png" alt="Logo SK">
        <p class="vs">vs</p>
        <img class="logo_times_jogos" src="~/_assets/fla-logo.png" alt="Escudo do Flamengo">
        <p class="sk">Furia</p>
    </div>
</section>

<section id="noticias" class="noticias">
    <div class="container_noticias_e_jogos">
        <div class="noticia">
            <div class="titulo_noticia">
                <h2>Noticias</h2>
            </div>
            <div class="container_cards">
                <div class="noticia_card">
                    <a href="#">
                        <img src="~/_assets/player.jpg" alt="Foto da modelo">
                        <h3>Título da notícia</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text </p>
                    </a>
                </div>
                <div class="noticia_card">
                    <a href="#">
                        <img src="~/_assets/player.jpg" alt="Foto da modelo">
                        <h3>Título da notícia</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text </p>
                    </a>
                </div>
                <div class="noticia_card">
                    <a href="#">
                        <img src="~/_assets/player.jpg" alt="Foto da modelo">
                        <h3>Título da notícia</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text </p>
                    </a>
                </div>
                <div class="noticia_card">
                    <a href="#">
                        <img src="~/_assets/player.jpg" alt="Foto da modelo">
                        <h3>Título da notícia</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text </p>
                    </a>
                </div>
                <div class="noticia_card">
                    <a href="#">
                        <img src="~/_assets/player.jpg" alt="Foto da modelo">
                        <h3>Título da notícia</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text </p>
                    </a>
                </div>
                <div class="noticia_card">
                    <a href="#">
                        <img src="~/_assets/player.jpg" alt="Foto da modelo">
                        <h3>Título da notícia</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text </p>
                    </a>
                </div>
            </div>
        </div>

        <aside id="sidebar_proximos_jogos" class="sidebar_proximos_jogos">
            <div class="container_proximos">
                <h2>Próximos Jogos</h2>
                <div class="sidebar_fundo">
                    <div class="sidebar_alinhando">

                        <div class="jogos_sidebar">
                            <p>SK</p>
                            <img class="logo_sk" src="~/_assets/sk-logo.png" alt="Logo da SK">
                            <p>vs</p>
                            <img src="~/_assets/fla-logo.png" alt="logo da vorax">
                            <p>VRS</p>
                        </div>
                        <p class="sidebar_time">13/03/2021 13:00</p>

                        <div class="jogos_sidebar">
                            <p>SK</p>
                            <img class="logo_sk" src="~/_assets/sk-logo.png" alt="logo red canids">
                            <p>vs</p>
                            <img src="~/_assets/fla-logo.png" alt="logo da vorax">
                            <p>VRS</p>
                        </div>
                        <p class="sidebar_time">13/03/2021 13:00</p>

                        <div class="jogos_sidebar">
                            <p>SK</p>
                            <img class="logo_sk" src="~/_assets/sk-logo.png" alt="logo red canids">
                            <p>vs</p>
                            <img src="~/_assets/fla-logo.png" alt="logo da vorax">
                            <p>VRS</p>
                        </div>
                        <p class="sidebar_time">13/03/2021 13:00</p>

                        <div class="jogos_sidebar">
                            <p>SK</p>
                            <img class="logo_sk" src="~/_assets/sk-logo.png" alt="logo red canids">
                            <p>vs</p>
                            <img src="~/_assets/fla-logo.png" alt="logo da vorax">
                            <p>VRS</p>
                        </div>
                        <p class="sidebar_time">13/03/2021 13:00</p>

                        <div class="jogos_sidebar">
                            <p>SK</p>
                            <img class="logo_sk" src="~/_assets/sk-logo.png" alt="logo red canids">
                            <p>vs</p>
                            <img src="~/_assets/fla-logo.png" alt="logo da vorax">
                            <p>VRS</p>
                        </div>
                        <p class="sidebar_time">13/03/2021 13:00</p>

                        <div class="jogos_sidebar">
                            <p>SK</p>
                            <img class="logo_sk" src="~/_assets/sk-logo.png" alt="logo red canids">
                            <p>vs</p>
                            <img src="~/_assets/fla-logo.png" alt="logo da vorax">
                            <p>VRS</p>
                        </div>
                        <p class="sidebar_time">13/03/2021 13:00</p>
                    </div>

                </div>
            </div>

        </aside>
    </div>
</section>
