@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}



/* HEADER */

.header_principal{
    background-color: #1E1C21;
    height: 4.5em;
}

.container_header{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 4.5em;
    justify-content: space-between;
}

.logo_header{
    width: 20em;
}

.logo_header:hover {
    width: 21em;
}

.flecha_header{
    width: 26%;
}

/* FIM DO HEADER */



/* INICIO DA SECTION CADASTRO DE JOGADOR */

.cadastro_jogador{
    background-image: url(../_assets/Fundo_banner_cadastro_jogador.png);
    height: 40em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.castelo{
    background-image: url(../_assets/castelo.png);
    background-repeat: no-repeat;
    background-size: 44em;
    background-position: center;
    height: 99%;
}

.conteudo_cadastro_jogador{
    width: 26em;
    display: flex;
    flex-direction: column; 
    margin: 0 auto;
    padding-top: 6em;
    justify-content: space-between;
    height: 84%;
}

.conteudo_cadastro_jogador form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55%;
}

.titulo_cadastro_jogador{
    width: 93%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo_cadastro_jogador h1{
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    text-align: center;
    margin: 2% 0;
    font-size: 26px;
}

.titulo_cadastro_jogador img{
    width: 70%;
}

.input_cadastro_usuario{
    font-family: 'Titillium Web', sans-serif;
    color: #04091A;
    text-align: center;
    border-radius: 8px;
    border: none;
    height: 1.7em;
    font-weight: bold;
}

.select_cadastro_usuario{
    border-radius: 8px;
    border: 0;
    height: 1.7em;
    /* text-align: center; */
    padding-left: 43%;
    color: #787F95;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

.btn_cadastrar_usuario{
    width: 34%;
    padding: 0.7em 0;
    border: none;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #024A7E;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.btn_cadastrar_usuario:hover {
    background-color: #4E5571;
    cursor: pointer;
}

/* FIM DA SECTION CADASTRO DE JOGADOR */



/* INICIO DA SECTION LISTA DE JOGADORES */

.lista_jogadores{
    background-color: #1E1C21;
    height: 24em;
}

.container_lista_jogadores{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.container_lista_jogadores h2{
    text-align: center;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    padding: 5% 0;
    font-size: 37px;
}

.container_lista_jogadores table{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    border-spacing: 0;
    border: #fff solid 2px;
    min-width: 268px;
}

.titulo_tabela{
    background-color: #000;
}

.container_lista_jogadores table tr th{
    padding: 0.5em 0.4em;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    border-bottom: #fff solid 2px;
}

.container_lista_jogadores table tr td{
    padding: 1em 1em;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
}

/* FIM DA SECTION LISTA DE JOGADORES */



/* INICIO DO FOOTER */

footer{
    background-color: #000;
}

.flex_footer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2em 0;

}

.style_list{
    
}

.style_list h2{
    color: #fff; 
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;   
    font-size: 21px;
}


.style_list ul li a{
    color: #fff; 
    font-family: 'Titillium Web', sans-serif;
}

.style_list ul li a:hover {
    color: #1A3D61;
}

.mid_footer{
    display: flex;
    flex-direction: column;
}

.logo_footer{
    width: 100%;
}

.logo_footer:hover {
    width: 102%;
}

.mid_footer p{
    color: #fff; 
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.mid_footer form{
    display: flex;
    margin: 0 auto;
}

.input_email{
    background-color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    padding: 0 14px;
    text-align: center;
    border: 0;
    border-radius: 3px 0 0 3px;
}

.input_submit{
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    border: 0;
    padding: 4px;
    background-color: #13169f;
    color: #fff;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
}

.redes_sociais_creditos_footer{
    display: flex;
    flex-direction: column;
}

.redes_sociais_creditos_footer p{
    color: #fff; 
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    margin-top: 0.6em;
}

.redes_sociais_creditos_footer span{
    color: #fff; 
    font-family: 'Titillium Web', sans-serif;
    margin-top: 3em;
}

.logos_redes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* FIM DO FOOTER */

@media (max-width: 700px){

    /* HEADER */

    .flecha_header{
        display: none;
    }    

    .container_header{
        justify-content: center;
    }

    .logo_header{
        width: 16em;
    }

    .logo_header:hover {
        width: 17em;
    }

    /* FIM DO HEADER */


    /* INICIO BANNER */

    .cadastro_jogador{
        height: 33em;
    }

    .castelo {
        background-image: url(../_assets/caveira.png);
        background-size: 21em;
    }

    .conteudo_cadastro_jogador {
        width: 16em;
        padding-top: 5em;
        height: 83%;
    }

    .titulo_cadastro_jogador {
        margin: 0 auto;
    }

    .titulo_cadastro_jogador img {
        width: 17em;
    }

    .conteudo_cadastro_jogador form {
        height: 71%;
    }

    .btn_cadastrar_usuario{
        margin: 2em auto;
    }

    /* FIM BANNER */


    /* INICIO FOOTER */

    .flex_footer{
        flex-wrap: wrap;
    }

    .logo_footer{
        display: none;
    }

    .style_list h2 {
        font-size: 19px;
    }

    .style_list ul li a {
        font-size: 13px;
    }

    .mid_footer {
        width: 13em;
        align-items: center;
        justify-content: center;
        height: 5em;
    }

    .mid_footer form {
        width: 12.5em;
    }

    .input_email {
        width: 10em;
    }

    .input_submit {
        width: 5em;
    }

    .redes_sociais_creditos_footer {
        margin: 0 auto;
        margin-top: 1em;
    }
}